@switch (action)
{
    case Action.All:
        <p class="h4 m-4">Список категорій</p>
        @if (items != null)
        {
            <button class="btn btn-primary" @onclick="()=>{ClearForm();newItem=null;action=Action.Add;}">Додати категорію</button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Назва</th>
                        <th scope="col">Опис</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in items.OrderBy(c => c.CategoryName))
                    {
                        <tr>
                            <td>@item.CategoryName</td>
                            <td>@item.CategoryDescription</td>
                            <td><button type="button" class="btn btn-primary" @onclick="()=>Edit(item)"><i class="fa-solid fa-pen-to-square" /></button></td>
                            <td><button type="button" class="btn btn-primary" @onclick="()=>Delete(item)"><i class="fa-solid fa-eraser"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        break;
    case Action.Add:
    case Action.Edit:
        <p class="h4 m-4">@((action==Action.Add)?"Додати категорію":"Редагувати категорію")</p>
        <EditForm EditContext="editContext" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <FInputString Name="Назва" @bind-Value="newData.Name" />
            <FInputLongString Name="Опис" @bind-Value="newData.Description" />
            <button type="submit" class="btn btn-primary">@((action==Action.Add)?"Додати":"Редагувати")</button>
        </EditForm>
        <button class="btn btn-primary" @onclick="()=>action=Action.All">Список категорій</button>
        break;
}

@code {

    private enum Action { All, Add, Edit }
    private Action action = Action.All;

    private const string Path = "api/categories";

    private Category[]? items;

    //Create
    private EditContext? editContext;
    private class InputData
    {
        public int Id { get; set; } = 0;
        [Required]
        [StringLength(20, MinimumLength = 2, ErrorMessage = "Назва має мати розмір від {2} до {1} символів.")]
        public string Name { get; set; } = "";
        [Required]
        [StringLength(255, MinimumLength = 2, ErrorMessage = "Опис має мати розмір від {2} до {1} символів.")]
        public string Description { get; set; } = "";
    }
    private InputData newData = new();
    private Category? newItem;
    private ValidationMessageStore? messageStore;

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }
    public async Task LoadDataAsync()
    {
        try
        {
            items = await Http.GetFromJsonAsync<Category[]>(Path);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    protected override void OnInitialized()
    {
        editContext = new(newData);
        messageStore = new(editContext);
    }
    private async void HandleValidSubmit()
    {
        newItem = new Category()
            {
                CategoryDescription = newData.Description,
                CategoryName = newData.Name
            };
        messageStore?.Clear();

        HttpResponseMessage result;
        if (action == Action.Add)
            result = await Http.PostAsJsonAsync(Path, newItem);
        else
        {
            newItem.CategoryId = newData.Id;
            result = await Http.PutAsJsonAsync(Path+"/" + newData.Id, newItem);
        }
        if (result.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeAsync<object>("Alert", new object[] { (action == Action.Add) ? "Категорію додано" : "Категорію редаговано" });
            ClearForm();
            newItem = null;
            action = Action.All;
            await LoadDataAsync();
            this.StateHasChanged();
        }
        else
            await JSRuntime.InvokeAsync<object>("Alert", new object[] { result.ReasonPhrase });
    }
    private void ClearForm()
    {
        newData.Description = "";
        newData.Id = -1;
        newData.Name = "";
    }
    private void Edit(Category item)
    {
        newData.Description = item.CategoryDescription;
        newData.Id = item.CategoryId ?? 0;
        newData.Name = item.CategoryName ?? "";
        action = Action.Edit;
    }
    private async void Delete(Category item)
    {
        var result = await Http.DeleteAsync(Path+"/" + item.CategoryId);
        if (result.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeAsync<object>("Alert", new object[] { "Категорію видалено" });
            await LoadDataAsync();
            action = Action.All;
            this.StateHasChanged();
        }
        else
            await JSRuntime.InvokeAsync<object>("Alert", new object[] { "Ви не можете видалити цю категорію" });
    }
}
