@switch (action)
{
    case Action.All:
        <p class="h4 m-4">Список постачальників</p>
        @if (items != null)
        {
            <button class="btn btn-primary" @onclick="()=>{ClearForm();newItem=null;action=Action.Add;}">Додати постачальника</button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Назва</th>
                        <th scope="col">Контактний номер телефону</th>
                        <th scope="col">Адреса</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in items.OrderBy(c => c.SupplierName))
                    {
                        <tr>
                            <td>@item.SupplierName</td>
                            <td>@item.PhoneNumber</td>
                            <td>@($"{item.StreetAddress}, {item.City?.CityName}, {item.City?.State?.StateName}, {item.City?.State?.Country?.CountryName}")</td>
                            <td><button type="button" class="btn btn-primary" @onclick="()=>Edit(item)"><i class="fa-solid fa-pen-to-square" /></button></td>
                            <td><button type="button" class="btn btn-primary" @onclick="()=>Delete(item)"><i class="fa-solid fa-eraser"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        break;
    case Action.Add:
    case Action.Edit:
        <p class="h4 m-4">@((action==Action.Add)?"Додати постачальника":"Редагувати постачальника")</p>
        <EditForm EditContext="editContext" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <FInputString Name="Назва" @bind-Value="newData.Name" />
            <FInputString Name="Телефон" @bind-Value="newData.Phone" />
            <FInputString Name="Адреса" @bind-Value="newData.Address" />
            <FInputCity @bind-Value="newData.CityId"/>
            <button type="submit" class="btn btn-primary">@((action==Action.Add)?"Додати":"Редагувати")</button>
        </EditForm>
        <button class="btn btn-primary" @onclick="()=>action=Action.All">Список постачальників</button>
        break;
}

@code {

    private enum Action { All, Add, Edit }
    private Action action = Action.All;

    private const string Path = "api/suppliers";

    private SupplierCompany[]? items;

    //Create
    private EditContext? editContext;
    private class InputData
    {
        public int Id { get; set; } = 0;
        [Required]
        [StringLength(50, MinimumLength = 5, ErrorMessage = "Назва має мати розмір від {2} до {1} символів.")]
        public string Name { get; set; } = "";
        [Required]
        [RegularExpression(@"\d{10}", ErrorMessage = "Номер телефону у невірному форматі.")]
        public string Phone { get; set; } = "";
        [Required]
        [StringLength(255, MinimumLength = 5, ErrorMessage = "Адреса має мати розмір від {2} до {1} символів.")]
        public string? Address { get; set; }
        [Required]
        public int CityId { get; set; }
    }
    private InputData newData = new();
    private SupplierCompany? newItem;
    private ValidationMessageStore? messageStore;

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }
    public async Task LoadDataAsync()
    {
        try
        {
            items = await Http.GetFromJsonAsync<SupplierCompany[]>(Path);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    protected override void OnInitialized()
    {
        editContext = new(newData);
        messageStore = new(editContext);
    }
    private void HandleValidationRequested(object? sender, ValidationRequestedEventArgs args)
    {
        messageStore?.Clear();
        if (newData.CityId <= 0)
            messageStore?.Add(() => newData.CityId, "Будь ласка, оберіть місто");
    }
    private async void HandleValidSubmit()
    {
        newItem = new SupplierCompany()
            {
                CityId = newData.CityId,
                SupplierId = newData.Id,
                SupplierName = newData.Name,
                StreetAddress = newData.Address,
                PhoneNumber = newData.Phone
            };
        messageStore?.Clear();

        HttpResponseMessage result;
        if (action == Action.Add)
            result = await Http.PostAsJsonAsync(Path, newItem);
        else
        {
            newItem.SupplierId = newData.Id;
            result = await Http.PutAsJsonAsync(Path+"/" + newData.Id, newItem);
        }
        if (result.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeAsync<object>("Alert", new object[] { (action == Action.Add) ? "Постачальника додано" : "Постачальника редаговано" });
            ClearForm();
            newItem = null;
            action = Action.All;
            await LoadDataAsync();
            this.StateHasChanged();
        }
        else
            await JSRuntime.InvokeAsync<object>("Alert", new object[] { result.ReasonPhrase });
    }
    private void ClearForm()
    {
        newData.Name = "";
        newData.Id = -1;
        newData.Phone = "";
        newData.CityId = -1;
        newData.Address = "";
    }
    private void Edit(SupplierCompany item)
    {
        newData.Phone = item.PhoneNumber;
        newData.Id = item.SupplierId ?? 0;
        newData.Name = item.SupplierName ?? "";
        newData.Address = item.StreetAddress ?? "";
        newData.CityId = item.CityId ?? -1;
        action = Action.Edit;
    }
    private async void Delete(SupplierCompany item)
    {
        var result = await Http.DeleteAsync(Path+"/" + item.SupplierId);
        if (result.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeAsync<object>("Alert", new object[] { "Постачальника видалено" });
            await LoadDataAsync();
            action = Action.All;
            this.StateHasChanged();
        }
        else
            await JSRuntime.InvokeAsync<object>("Alert", new object[] { "Ви не можете видалити цього постачльника" });
    }
}
