@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (receipts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var receipt in receipts)
            {
                <tr>
                    <td>@receipt.ReceiptNumber</td>
                    <td>@receipt.SellerId</td>
                    <td>@(receipt.Customer?.CustomerName ?? "")</td>
                    <td>@receipt.PurchaseSum</td>
                    <td>@receipt.PurchaseDate</td>
                    <td>@receipt.ReceiptNumber</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Receipt[]? receipts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            receipts = await Http.GetFromJsonAsync<Receipt[]>("api/Receipts");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
